@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    background-color: #D8D8D8;
    
}

/* h3{
    font-size: 40px;
} */

.centered{
    color: black;
}

.heading{
    background-color: #D8D8D8;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
  }
